.top-tasks
  .title_top-tasks-container
    .title.title_top-tasks Избранные сценарии
    .top-tasks-arrow-container
      .top-tasks-arrow.top-tasks-arrow_left.js-tasks-left
      .top-tasks-arrow.top-tasks-arrow_right.js-tasks-right
  .top-tasks__container
    ul.top-tasks__list.js-top-tasks-slider
      li.top-tasks__item
        ul.tile__list.tile__list_top-tasks
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_temperature.svg'), alt="Иконка термометра")
              .tile__description
                .tile__function-title Выключить весь свет в доме и во дворе
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_sun.svg'), alt="Иконка солнце")
              .tile__description
                .tile__function-title Я ухожу
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_temperature.svg'), alt="Иконка термометра")
              .tile__description
                .tile__function-title Включить свет в коридоре
      li.top-tasks__item
        ul.tile__list.tile__list_top-tasks
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_temperature.svg'), alt="Иконка термометра")
              .tile__description
                .tile__function-title Выключить весь свет в доме и во дворе
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_sun.svg'), alt="Иконка солнце")
              .tile__description
                .tile__function-title Я ухожу
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_temperature.svg'), alt="Иконка термометра")
              .tile__description
                .tile__function-title Включить свет в коридоре
      li.top-tasks__item
        ul.tile__list.tile__list_top-tasks
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_temperature.svg'), alt="Иконка термометра")
              .tile__description
                .tile__function-title Выключить весь свет в доме и во дворе
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_sun.svg'), alt="Иконка солнце")
              .tile__description
                .tile__function-title Я ухожу
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_temperature.svg'), alt="Иконка термометра")
              .tile__description
                .tile__function-title Включить свет в коридоре
      li.top-tasks__item
        ul.tile__list.tile__list_top-tasks
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_temperature.svg'), alt="Иконка термометра")
              .tile__description
                .tile__function-title Выключить весь свет в доме и во дворе
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_sun.svg'), alt="Иконка солнце")
              .tile__description
                .tile__function-title Я ухожу
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_temperature.svg'), alt="Иконка термометра")
              .tile__description
                .tile__function-title Включить свет в коридоре
      li.top-tasks__item
        ul.tile__list.tile__list_top-tasks
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_temperature.svg'), alt="Иконка термометра")
              .tile__description
                .tile__function-title Выключить весь свет в доме и во дворе
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_sun.svg'), alt="Иконка солнце")
              .tile__description
                .tile__function-title Я ухожу
            li.tile__item.tile__item_top-tasks
              img.tile__icon(src=require('./../images/icons/icon_temperature.svg'), alt="Иконка термометра")
              .tile__description
                .tile__function-title Включить свет в коридоре
    


            //- li.tile__item.tile__item_top-tasks
            //-   img.tile__icon(src=require('./../images/icons/icon_temperature.svg'), alt="Иконка термометра")
            //-   .tile__description
            //-     .tile__function-title Набрать горячую ванну
            //-     .tile__info Включится в 17:00
